.refund-container {
  background: linear-gradient(to bottom , #0d0d0d , #000 100%);
  color: white;
  padding: 60px 20px 120px;
  max-width: 900px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}

.refund-title {
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 600;
}

h2 {
  margin-top: 24px;
  font-size: 22px;
  font-weight: 600;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: -15px;
}
