.terms-container {
  background: linear-gradient(to bottom , #0d0d0d , #000 100%);
  color: white;
  padding: 60px 30px 100px;
  font-family: 'Poppins', sans-serif;
  max-width: 900px;
  margin: auto;
}

.terms-container h1 {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.terms-container .intro {
  font-weight: 600;
  margin-bottom: 30px;
}

.terms-container h2 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
}

.terms-container p {
  margin-top: 10px;
  line-height: 1.6;
}

.terms-container ul {
  padding-left: 20px;
  margin-top: 10px;
}

.terms-container ul li {
  margin-bottom: 5px;
}
